CREATE TABLE IF NOT EXISTS notifikasi (id_notifikasi INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY, id_user INT(10) UNSIGNED NOT NULL, pesan TEXT NOT NULL, is_read TINYINT(1) DEFAULT 0, created_at DATETIME NULL);
